#Title {
    text-align: center;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff6f6;
}

h1 {
    text-align: center;
    font-size: 90px;
    text-decoration:line-through;
    font-family: fantasy;
    color: rgb(25, 51, 75);
}

#PLAY {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    font-size: 120px;
    color: aliceblue;
    background-color: skyblue;
        color: #221f1f; /* Set the default color of the text */ 
        transition: color 0.3s; /* Add a transition for a smooth effect */ 
        border-color: white;
      } 
       
      #PLAY:hover { 
        color: #fff6f6; /* Change the text color on hover */ 
        background-color: rgb(35, 57, 129);
        transform: scale(1.15,1.15);
      } 

      #Light {
     
      }