#Title {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff6f6;
}

h1 {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 150px;
    text-decoration:line-through;
    font-family: fantasy;
    color: rgb(0, 75, 146);
}

#PLAY {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    font-size: 120px;
    border-radius: 5%;
    background-color: skyblue;
        color: #221f1f;
        transition: color 0.5s;
        border-color: white;
      } 
       
      #PLAY:hover { 
        color: #fff6f6;
        background-color: rgb(35, 57, 129);
        transform: scale(1.15,1.15);
      } 

#lightbulbb {
  width: 150px;
  height: 170px;
  margin-left: auto;
  border: #ffffff;
  border-radius: 5%;
  background-color:#313131
}
      
#lightbulbb:hover {
  background-color: #4e4e4e;
  transform: scale(1.1,1.1)
      }

#lightbulb {
  width: 100px;
  height: 120px;
}