
#title {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.ultimate {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 150px;
    text-decoration:line-through;
    font-family: fantasy;
    color: rgb(67, 167, 255);
}

#PLAY {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    font-size: 120px;
    border-radius: 5%;
    background-color: #233981;
        color: #f0eded;
        transition: color 0.5s;
        border-color: black;
      } 
       
      #PLAY:hover { 
        color: #202020;
        background-color: lightskyblue;
        transform: scale(1.15,1.15);
      } 
  

#darkbulbb {
  width: 150px;
  height: 170px;
  margin-left: auto;
  border: #000000;
  border-radius: 5%;
  background-color:rgb(241, 231, 231)
 }

#darkbulbb:hover {
  background-color: #e7dede;
  transform: scale(1.1,1.1)
}

 #darkbulb {
  width: 100px;
  height: 120px;
 }

 body {
  background-color: rgb(255, 249, 248);
}

#lightarrowb{
  width: 150px;
  height: 170px;
  margin-left: auto;
  border: #000000;
  border-radius: 5%;
  background-color:rgb(241, 231, 231)
 }

 #lightarrowb:hover {
  background-color: #e7dede;
  transform: scale(1.1,1.1)
}

 #lightarrow{
  width: 100px;
  height: 120px;
 }



 #title2 {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff6f6;
}

.ultimate2 {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 150px;
    text-decoration:line-through;
    font-family: fantasy;
    color: rgb(0, 75, 146);
}

#PLAY2 {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    font-size: 120px;
    border-radius: 5%;
    background-color: skyblue;
        color: #221f1f;
        transition: color 0.5s;
        border-color: white;
      } 
       
      #PLAY2:hover { 
        color: #fff6f6;
        background-color: rgb(35, 57, 129);
        transform: scale(1.15,1.15);
      } 

#lightbulbb {
  width: 150px;
  height: 170px;
  margin-left: auto;
  border: #ffffff;
  border-radius: 5%;
  background-color:#313131
}
      
#lightbulbb:hover {
  background-color: #4e4e4e;
  transform: scale(1.1,1.1)
      }

#lightbulb {
  width: 100px;
  height: 120px;
}

body {
  background-color: rgb(36, 36, 36);
}

#darkarrowb{
  width: 150px;
  height: 170px;
  margin-left: auto;
  border: #000000;
  border-radius: 5%;
  background-color:#313131
 }

 #darkarrowb:hover {
  background-color: #4e4e4e;
  transform: scale(1.1,1.1)
}

 #darkarrow{
  width: 100px;
  height: 120px;
 }