#Title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h1 {
  margin: 0;
  padding: 0;
    text-align: center;
    font-size: 150px;
    text-decoration:line-through;
    font-family: fantasy;
    color: rgb(67, 167, 255);
}

#PLAY {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    font-size: 120px;
    background-color: #233981;
        color: #f0eded;
        transition: color 0.5s;
        border-color: black;
      } 
       
      #PLAY:hover { 
        color: #202020;
        background-color: lightskyblue;
        transform: scale(1.15,1.15);
      } 

#darkbulbb {
  width: 200px;
  height: 200px;
  background-color:rgb(255, 246, 246)
 }

 #darkbulb {
  width: 150px;
  height: 150px;
 }